<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.dao.mapper.AdminMapper">
	
	<!-- 使用默认mybatis ：   二级缓存 -->
	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"  />
	
	<!-- 排序条件拼接 -->
	<sql id="orderSql">
		<if test="orderby!=null">
			order by #{orderby}
			<if test="orderway!=null">
				#{orderway}
			</if>
		</if>
	</sql>
	
	<!-- 分页条件的拼接 -->
	<sql id="pageSql">
		<if test="start!=null  ">
			limit #{start},#{pagesize}
		</if>
	</sql>
	
	<!-- 查所有管理员   分页 -->
	<select id="getAdminByPages" parameterType="java.util.Map" resultType="Admin">
		select * from Admin <include refid="orderSql"/>  <include refid="pageSql"/>
	</select>
	
	<!-- 查看有几个管理员 -->
	<select id="getCount" resultType="int">
		select count(1) from admin
	</select>
	
	<!-- 根据用户名查询用户是否在数据库中已存在 -->
	<select id="isAdminExists" resultType="Integer" parameterType="Admin">
		select count(*) from admin where aname=#{aname}
	</select>
	
	<!-- 根据用户名和密码查询用户 -->
	<select id="findAdmin" resultType="Admin" parameterType="Admin">
		select * from admin where aname=#{aname} and apassword = #{apassword}
	</select>
	
	<!-- 注册管理员 -->
	<insert id="insertAdmin" parameterType="Admin" useGeneratedKeys="true"
		keyColumn="aid" keyProperty="aid">
		insert into admin(aname,apassword) values(#{aname},#{apassword})
	</insert>
	
 
	
	
</mapper>